* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    text-decoration: none;
}

#tip {
    position: fixed;
    bottom: 60px;
    padding-left: 100px;
    width: 100%;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#tip-info {
    color: lightblue;
    padding-left: 7px;
    width: 230px;
    letter-spacing: 2px;
    word-spacing: 1px;
}

#closeTip {
    color: lightblue;
    background: #277687;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

#x-icon {
    fill: lightblue;
}

    #x-icon:hover {
        fill: cyan;
    }

#chart-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background: rgba( 222, 223, 222, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "exit-section"
        "chart-section";
}

#exit-section {
    display: flex;
    justify-content: flex-start;
}

#exit-and-enter-button {
    border-bottom: 1px solid #50aab7;
    position: fixed;
    top: 0px;
    z-index: 5;
    background: #5eb8c5;
    fill: #125e6a;
    cursor: pointer;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

    #exit-and-enter-button:hover {
        background: #56b0bd;
    }

    #exit-and-enter-button:active {
        background: #53abb8;
    }

#chart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart-img {
    opacity: 0.7;
    border-radius: 10px;
}

#diagram-info {
    width: 350px;
    padding-top: 10px;
    color: #298390;
    letter-spacing: 2px;
    word-spacing: 3px;
}

mark {
    background: #bbe2d4;
    opacity: 0.7;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #5eb8c5;
    color: white;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 90px;
    grid-template-areas:
        ". info-calculations info-calculations"
        "options resistor-module resistor-module"
        "options resistor-module resistor-module"
        "reset-button resistor-module resistor-module";
}

select {
    background: #5eb8c5;
    color: #125e6a;
    border: none;
    border-radius: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-appearance: none;
    height: 100%;
    cursor: pointer;
    padding-right: 5px;
    text-align: center;
}

::selection {
    background: #9ef6d6;
}

select:hover {
    background: #56b0bd;
}

select:active {
    background: #53abb8;
}

.digitColor {
    background: #0f0;
    height: 20px;
    width: 20px;
}

#options {
    grid-area: options;
    border-right: 1px solid #50aab7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "bulb1 selectorP1"
        "bulb2 selectorP2"
        "bulb3 selectorP3"
        "bulb4 selectorP4"
        "bulb5 selectorP5"
        "bulb6 selectorP6";
    z-index: 2;
}

#selectorP1 {
    grid-area: selectorP1;
}

#selectorP2 {
    grid-area: selectorP2;
}

#selectorP3 {
    grid-area: selectorP3;
}

#selectorP4 {
    grid-area: selectorP4;
}

#selectorP5 {
    grid-area: selectorP5;
}

#selectorP1, #selectorP2, #selectorP3, #selectorP4, #selectorP5, #selectorP6 {
    background: #5eb8c5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #50aab7;
}

.bulbs {
    height: 10px;
    width: 10px;
    background: #0f0;
    border-radius: 100%;
    box-shadow: 0px 0px 10px;
    color: #0f0;
}

.led1 {
    animation: colorChange 5s infinite;
}

.led2 {
    animation: colorChange 6s infinite;
}

.led3 {
    animation: colorChange 7s infinite;
}

.led4 {
    animation: colorChange 8s infinite;
}

.led5 {
    animation: colorChange 9s infinite;
}

.led6 {
    animation: colorChange 10s infinite;
}

#bulb1 {
    grid-area: bulb1;
}

#bulb2 {
    grid-area: bulb2;
}

#bulb3 {
    grid-area: bulb3;
}

#bulb4 {
    grid-area: bulb4;
}

#bulb5 {
    grid-area: bulb5;
}

#bulb6 {
    grid-area: bulb6;
}

@keyframes colorChange {
    10% {
        background: #ff5878;
        box-shadow: 0px 0px 10px #ff5878;
    }

    20% {
        background: #ff58f2;
        box-shadow: 0px 0px 10px #ff58f2;
    }

    30% {
        background: #a058ff;
        box-shadow: 0px 0px 10px #a058ff;
    }

    40% {
        background: #5874ff;
        box-shadow: 0px 0px 10px #5874ff;
    }

    50% {
        background: #58c9ff;
        box-shadow: 0px 0px 10px #58c9ff;
    }

    60% {
        background: #58ff93;
        box-shadow: 0px 0px 10px #58ff93;
    }

    70% {
        background: #81ff58;
        box-shadow: 0px 0px 10px #81ff58;
    }

    80% {
        background: #edff58;
        box-shadow: 0px 0px 10px #edff58;
    }

    90% {
        background: #ffb458;
        box-shadow: 0px 0px 10px #ffb458;
    }

    100% {
        background: #ff5878;
        box-shadow: 0px 0px 10px #ff5878;
    }
}

#bulb1, #bulb2, #bulb3, #bulb4, #bulb5, #bulb6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #50aab7;
    background: #5eb8c5;
}

#info-calculations {
    padding-left: 100px;
    grid-area: info-calculations;
    border-bottom: 1px solid #50aab7;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #5eb8c5;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 50px;
}
/* DEMO-SPECIFIC STYLES */
.typewriter p {
    visibility: hidden;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid cyan; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: cyan
    }
}

a {
    color: #125e6a;
}

    a:hover {
        color: cyan;
    }

#by {
    color: #125e6a;
    font-size: 12px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    bottom: 0px;
    padding: 5px 0px 5px 100px;
    background: #5eb8c5;
    font-weight: 600;
    border-top: 1px solid #50aab7;
    box-shadow: inset 106px 6px 11px rgb(33 101 129 / 59%);
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cyan;
    box-shadow: 0 0 10px cyan;
    padding: 3px;
    width: fit-content;
}

#digits-container {
    white-space: nowrap;
    overflow-x: scroll;
    color: #a8a8a8;
    display: flex;
    justify-self: end;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    height: fit-content;
    padding: 5px;
    align-items: center;
    background: #277486;
    box-shadow: inset 0px 0px 10px #88e4ff;
    animation: boxShadow 1s infinite alternate;
}

@keyframes boxShadow {
    from {
        box-shadow: inset 0px 0px 10px #88e4ff;
    }

    to {
        box-shadow: inset 0px 0px 10px cyan;
    }
}

#resistor-module {
    grid-area: resistor-module;
    background-color: #cecece;
    background: url("https://assets.codepen.io/1179484/j.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 7px 3px 5px rgb(33 101 129 / 59%);
}

#breadboard-container {
    height: 354px;
    width: 1100px;
    background: url(https://assets.codepen.io/1179484/H.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 23px rgb(33 101 129);
    position: relative;
}

#bulb {
    height: 55px;
    width: fit-content;
    position: absolute;
    left: 276px;
    top: 103px;
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
}

#resistor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: relative;
    top: 22px;
    left: 189px;
}

.part1, .part2, #part3 {
    background: #216481;
    box-shadow: 0px 0px 5px #206783;
    overflow: hidden;
}

.part1 {
    height: 18px;
    width: 2px;
    background: silver;
}

.part2 {
    height: 20px;
    width: 25px;
    border-radius: 6px;
}

#part3 {
    height: 38px;
    width: 15px;
}

.band {
    height: 3px;
    background: cyan;
    box-shadow: 0px 0px 5px cyan;
    margin-top: 6px;
}

#reset-button {
    grid-area: reset-button;
    border-right: 1px solid #50aab7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #5eb8c5;
    z-index: 1;
}

#reset-indent {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #64becb;
    box-shadow: inset 9px 10px 14px #49a3b0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #125e6a;
    font-size: 25px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 9;
    }
}

@keyframes fadeOut {
    from {
        opacity: 9;
    }

    to {
        opacity: 0;
    }
}

#reset {
    animation: spin 2s infinite;
}

#reset-button:active {
    background: #dadada;
}

#tolerance-output {
    padding-left: 10px;
    padding-right: 10px;
    color: #7bc7de;
    text-shadow: 0px 0px 15px #88e4ff;
    animation: textShadow 2s infinite alternate;
}

#ppm {
}

.output {
    color: #7bc7de;
    text-shadow: 0px 0px 15px #88e4ff;
    animation: textShadow 2s infinite alternate;
}

@keyframes textShadow {
    from {
        text-shadow: 0px 0px 15px #88e4ff;
    }

    to {
        text-shadow: 0px 0px 2px cyan;
        color: cyan;
    }
}
/* width */
::-webkit-scrollbar {
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: cyan;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightblue;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: cadetblue;
    }

@media only screen and (max-width: 1300px) {
    #resistor-module {
        grid-area: resistor-module;
        background-color: #cecece;
        background-repeat: no-repeat;
        overflow: hidden;
        display: grid;
        align-items: center;
        padding-left: 70px;
        padding-top: 30px;
        justify-content: left;
    }
}

@media only screen and (max-width: 500px) {
    #bulb {
        height: 55px;
        width: fit-content;
        position: absolute;
        left: 121px;
        top: 175px;
        transform-origin: center;
        transform-box: fill-box;
        transform: rotate(0.25turn);
    }

    #by {
        box-shadow: 106px 5px 16px rgb(15 68 76);
        height: 40px;
    }

    #chart-img {
        width: 90%;
    }

    #info-calculations {
        padding-left: 100px;
    }

    body {
        overflow: visible;
    }

    #resistor-module {
        grid-area: resistor-module;
        background-color: #cecece;
        background-repeat: no-repeat;
        overflow: hidden;
        padding-left: 0px;
        display: grid;
        justify-content: center;
    }

    #breadboard-container {
        height: 847px;
        width: 274px;
        background: url("https://assets.codepen.io/1179484/V.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #resistor-content {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 130px;
        left: 19px;
    }

    .part1 {
        height: 2px;
        width: 12px;
    }

    .part2 {
        height: 25px;
        width: 20px;
        display: flex;
    }

    #part3 {
        height: 14px;
        width: 35px;
        display: flex;
    }

    .band {
        width: 3px;
        height: 100%;
        margin-top: 0;
        margin-left: 5px;
    }

    #border {
        width: 250px;
    }

    #digits-container {
        justify-content: left;
        text-align: left;
    }
}
