<div
    class="ball b1"
     style="
        background-color: @BandColor;
        box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
        background-image: linear-gradient(-45deg, rgba(50,50,50,.3) 0%, transparent 100%);">
</div>

@code {
    [Parameter]
    public string BandColor { get; set; } = "#263540";
}
