@page "/calculator"

@using ResistorColorCode.App.Components.Resistor
@using ResistorColorCode.Domain.Resistors.Enum
@inject IStringLocalizer<AppResources> Localizer

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@Localizer["HeaderTitle"]</h1>
            <p>@Localizer["ResistorHeaderDescription"]</p>
        </div>
    </div>
    <div id="header">
        @switch ((ResistorBandEnum)NumBands)
        {
            case ResistorBandEnum.Four:
                
                <FourBandsResistorComponent />
                break;
            case ResistorBandEnum.Five:
                break;
            case ResistorBandEnum.Six:
                break;
        }
    </div>
</div>

@code {

    [Parameter, SupplyParameterFromQuery(Name = "type")]
    public int NumBands { get; set; }
}