h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: #BBACA1
}

p {
    font-size: 0.8rem;
    color: #CC6010
}


@media (min-width: 768px) {
    h1 {
        font-size: 2.1rem;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 0.8rem;
        color: #CC6010
    }
}

.btn-resistor {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.btn-resistor:hover {
    background: #67605c33;
    box-shadow: #67605c33 0px 0px 5px;
    cursor: pointer;
}