@page "/calculator"

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Resistor Calculator</h1>
            <p>Choose the resistor model based on number of bands</p>
        </div>
    </div>
    <div id="header">
        <div class="row">
            <p>Choose the resistor model based on number of bands</p>
        </div>
        @switch ((ResistorBandEnum)NumBands)
        {
            case ResistorBandEnum.Four:
                <FourBandsResistorComponent />
                break;
            case ResistorBandEnum.Five:
                break;
            case ResistorBandEnum.Six:
                break;
        }
    </div>
</div>


@using ResistorColorCode.Components.Resistor
@using ResistorColorCode.Domain.Enum
@code {

    [Parameter, SupplyParameterFromQuery(Name = "type")]
    public int NumBands { get; set; }

}