<CardComponent>
    <div>
        <p class="my-0">Valor do resistor: @ResistorValue()</p>
        <p class="my-0">@Disclaimer</p>
    </div>
</CardComponent>

@code {
    [Parameter]
    public required double Value { get; set; }

    [Parameter]
    public string? Disclaimer { get; set; }

    private string ResistorValue()
    {
        if (Value > 1000000)
            return $"{Value / 1000000}M Ω";
        else if (Value > 1000)
            return $"{Value / 1000}k Ω";
        else
            return $"{Value} Ω";
    }
}
